apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  labels:
    app: task-management
    component: mongodb
spec:
  type: ClusterIP
  clusterIP: None  
  selector:
    app: task-management
    component: mongodb
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb