apiVersion: v1
kind: Service
metadata:
  name: server-service
  labels:
    app: task-management
    component: server
spec:
  type: ClusterIP
  selector:
    app: task-management
    component: server
  ports:
  - port: 4000
    targetPort: 4000
    protocol: TCP
    name: http
  sessionAffinity: None
